<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for(:title) || "It's okay to be weird" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <a href="<%= root_path %>">
          <h1>It's okay to be weird</h1>
      </a>
      <nav aria-label="Main navigation" style="display: flex; justify-content: space-between; align-items: center;">
          <div>
            <a href="<%= root_path %>"
               <%= 'aria-current="page"'.html_safe if current_page?(root_path) %>>About</a>
            <a href="<%= posts_path %>"
               <%= 'aria-current="page"'.html_safe if current_page?(posts_path) %>>Blog</a>
            <a href="<%= history_path %>"
               <%= 'aria-current="page"'.html_safe if current_page?(history_path) %>>History</a>
          </div>
          <%= language_switch_links %>
      </nav>
    </header>

    <main id="main-content">
      <%= yield %>
    </main>

    <footer>
      &copy; 2025 Takayuki Nagatomi. All rights reserved.
    </footer>
  </body>
</html>
